@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #000;
    font-family: 'Noto Sans', sans-serif;
}

.next_icon {
    position: fixed;
    width: 100px;
    height: 100px;
    background-image: url('../icons/icon-256.png');
    background-size: cover;
    top: 18%;
    left: calc(50% - 50px);
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loading_spinner {
    position: fixed;
    width: 36px;
    height: 36px;
    bottom: 18%;
    left: calc(50% - 18px);
    background-image: url('assets/loading.png');
    background-repeat: no-repeat;
    background-size: contain;
    animation: spin 6s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }

    25% {
        transform: rotate(2160deg);
    }

    50% {
        transform: rotate(4320deg);
    }

    75% {
        transform: rotate(2160deg);
    }

    100% {
        transform: rotate(4320deg);
    }
}