:root {
    --ym-font-line-height-headline-xs: 1.375rem !important;
    --ym-icon-size-xxs: 1.25rem !important;
    --header-height: 3.75rem !important;
    --ym-font-size-label-l: 1rem !important;
    --ym-font-line-height-label-l: 1.5rem !important;
    --ym-font-line-height-headline-xxxxl: 4.25rem !important;
    --ym-radius-size-round: 50% !important;
    --ym-font-size-headline-l: 1.625rem !important;
    --ym-spacer-size-l: 1rem !important;
    --ym-radius-size-l: 0.75rem !important;
    --ym-spacer-size-xxl: 1.5rem !important;
    --ym-icon-size-xs: 1.5rem !important;
    --toastify-toast-max-height: 50rem !important;
    --ym-font-size-headline-xxxxxl: 5rem !important;
    --ym-radius-size-xs: 0.25rem !important;
    --ym-spacer-size-s: 0.625rem !important;
    --ym-font-line-height-headline-xxxl: 3.5rem !important;
    --toastify-toast-min-height: 4rem !important;
    --ym-font-line-height-label-xs: 0.625rem !important;
    --ym-font-line-height-headline-m: 1.625rem !important;
    --ym-spacer-size-xxs: 0.375rem !important;
    --ym-font-size-headline-xs: 1.25rem !important;
    --toastify-toast-width: 20rem !important;
    --ym-font-size-label-xs: 0.75rem !important;
    --ym-icon-size-s: 1.75rem !important;
    --subpage-sticky-header-height: 6rem !important;
    --player-bar-height: 5rem !important;
    --ym-font-size-label-xxs: 0.5rem !important;
    --ym-spacer-size-xxxxxl: 3rem !important;
    --ym-font-line-height-headline-xxxxxl: 5rem !important;
    --ym-font-line-height-headline-xxl: 3rem !important;
    --ym-radius-size-xxxl: 6.25rem !important;
    --ym-spacer-size-xxxl: 2rem !important;
    --ym-spacer-size-xxxs: 0.25rem !important;
    --collection-header-with-tabs-height: 9.25rem !important;
    --ym-spacer-size-m: 0.75rem !important;
    --ym-font-size-headline-xl: 2rem !important;
    --ym-font-size-headline-xxl: 3rem !important;
    --ym-font-size-headline-xxxxl: 4.25rem !important;
    --ym-font-size-headline-s: 1.375rem !important;
    --ym-font-size-vibe-m: 2.125rem !important;
    --html-font-size: 1rem !important;
    --ym-radius-size-xl: 1rem !important;
    --ym-icon-size-xxxl: 4.5rem !important;
    --ym-font-size-headline-m: 1.5rem !important;
    --ym-font-line-height-label-s: 1.125rem !important;
    --ym-spacer-size-xs: 0.5rem !important;
    --ym-font-size-label-s: 0.8125rem !important;
    --ym-icon-size-l: 2.5rem !important;
    --ym-radius-size-m: 0.5rem !important;
    --ym-icon-size-xl: 3rem !important;
    --ym-font-line-height-headline-s: 2rem !important;
    --ym-radius-size-s: 0.375rem !important;
    --ym-font-size-headline-xxxl: 3.5rem !important;
    --ym-font-line-height-headline-xl: 2rem !important;
    --ym-font-line-height-headline-l: 1.75rem !important;
    --ym-icon-size-xxxs: 1.125rem !important;
    --ym-icon-size-xxl: 4rem !important;
    --ym-spacer-size-xxxxl: 2.5rem !important;
    --ym-font-size-label-m: 0.875rem !important;
    --balbelow-height: 5rem !important;
    --ym-font-line-height-vibe: 3rem !important;
    --ym-font-line-height-label-m: 1.25rem !important;
    --ym-font-size-vibe-s: 2rem !important;
    --ym-spacer-size-xl: 1.25rem !important;
    --ym-radius-size-xxl: 1.5rem !important;
    --ym-icon-size-m: 2rem !important;
}
