.TitleBar_root.theme-dark {
    --btn-color: #fff;
    --btn-hover-bg: rgba(255, 255, 255, 0.12);
    --btn-hover-color: #fff;
    --btn-close-hover-bg: #f23f42;
    --btn-close-hover-color: #fff;
    --pulse-text-color: rgba(255, 255, 255, 0.29);
}

.TitleBar_root.theme-light {
    --btn-color: ##000;
    --btn-hover-bg: rgba(0, 0, 0, 0.08);
    --btn-hover-color: #000;
    --btn-close-hover-bg: #f23f42;
    --btn-close-hover-color: #fff;
    --pulse-text-color: rgba(0, 0, 0, 0.8);
}

[class*="Content_root"] {
    margin-top: 20px;
}

[class*="Navbar_root"] {
    -webkit-app-region: no-drag;
}

.TitleBar_root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    -webkit-app-region: drag;
    z-index: 99999;
    user-select: none;
}

.TitleBar_root .TitleBar_nextText {
    color: var(--pulse-text-color);
    font-family: "YS Text", sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-right: 20px;
    white-space: nowrap;
    pointer-events: none;
    margin-top: 2px;
}

.TitleBar_root .TitleBar_button {
    width: 46px;
    height: 32px;
    background: none;
    border: none;
    color: var(--btn-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;
    padding: 0;
}

.TitleBar_root .TitleBar_button svg {
    width: 10px;
    height: 10px;
    pointer-events: none;
}

.TitleBar_root .TitleBar_button:hover {
    background: var(--btn-hover-bg);
    color: var(--btn-hover-color);
}

.TitleBar_root .TitleBar_closeButton:hover {
    background: var(--btn-close-hover-bg);
    color: var(--btn-close-hover-color);
}
