@use "variables" as *;

.titlebar {
	position: relative;
	height: $tb-h;
	background: var(--c-bg2);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	-webkit-app-region: drag;
	flex-shrink: 0;
}

.tb-title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-family: $font-heading-large;
	font-weight: 700;
	font-size: 14px;
	color: var(--c-muted);
	pointer-events: none;
	white-space: nowrap;
	margin-top: 1px;
}

.tb-btn {
	-webkit-app-region: no-drag;
	width: 46px;
	height: $tb-h;
	background: none;
	border: none;
	color: var(--c-text);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	flex-shrink: 0;

	svg {
		width: 10px;
		height: 10px;
		pointer-events: none;
	}

	&:hover {
		background: var(--c-tb-btn-hover);
	}
}

.tb-close {
	&:hover {
		background: $close-hover !important;
	}
}

.layout {
	display: flex;
	height: calc(100vh - #{$tb-h});
	background-color: var(--c-bg2);
}

.sidebar {
	width: 165px;
	flex-shrink: 0;
	background: var(--c-bg2);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.sidebar-nav {
	padding: 8px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	flex: 1;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.nav-item {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px 14px;
	cursor: pointer;
	color: var(--c-muted);
	font-family: $font-heading-large;
	font-weight: 800;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 10px;
	transition:
		color 0.15s,
		background 0.15s;

	&:hover {
		color: var(--c-text);
		background: var(--c-tile-hover);
	}

	&.active {
		color: var(--c-text);
		background: var(--c-tile-hover);

		&:hover {
			cursor: unset;
		}
	}
}

.sidebar-footer {
	margin-top: auto;
	padding: 10px 14px 12px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	flex-shrink: 0;
}

.ver-row {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: 6px;
	font-family: "Space Mono", monospace;
}

.ver-name {
	font-size: 10px;
	color: var(--c-muted);
	opacity: 0.6;
	white-space: nowrap;
}

.ver-val {
	font-size: 10px;
	color: var(--c-muted);
	white-space: nowrap;
	text-align: right;
}

.content {
	flex: 1;
	display: flex;
	align-items: flex-start;
	overflow-y: auto;
	padding: 20px;
	justify-content: center;
	background-color: var(--c-bg);
	border-radius: $r 0 0 $r;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--c-panel);
		border-radius: 10px;

		&:hover {
			background: var(--c-tile-hover);
		}
	}
}

.tab-panel {
	display: none;
	width: 100%;
	max-width: 600px;

	&.active {
		display: flex;
		flex-direction: column;
		gap: 5px;
		animation: fadeIn 0.16s ease;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(4px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
