@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #16181E;
    user-select: none;
}

/* .settingsTitle {
    color: #fff;
    text-align: center;
} */

/*Контейнер настроек*/
.settings_container {
    display: flex;
    height: 300px;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-end;
}

.program_settings_container,
.autolaunch_settings_container,
.window_settings_container {
    background-color: #1E2027;
    border-radius: 5px;
    padding: 5px;
    height: calc(100% - 10px);
    width: 250px;
}

/*Тайтл секций*/
.in_settings_title {
    color: #9EA7C1;
    padding: 5px 0px 0px 0px;
    text-align: center;
    font-weight: 700;
}

/*Кнопки настроек*/
.textButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: -webkit-fill-available;
    background-color: #292C36;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.1s ease;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.textButton input {
    display: none;
}

.textButton.active {
    background-color: #3293D4;
    color: #fff;
}

.textButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.textButton:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

/*tooltip*/
.tooltip-container {
    display: flex;
    height: 40px;
    background-color: #1E2027;
    border-radius: 5px;
    margin-top: 8px;
}

.tooltip-target {
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #fff;
}

/*Save Button*/
.saveButton {
    background-color: #292C36;
    border-radius: 5px;
    border-width: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 8px;
}

.saveButton:hover {
    filter: brightness(1.1);
    cursor: pointer;
}